.user {
    color: black;
}

.password {
    color: black;
}

.button {
    width: 50%;
}

.container {
    padding: 7%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 5%;

}

.welcome {
    color: white;
    text-align: center;
    margin: 5%;
}

.background {
    background-image: url("../Components/images/jakub-kapusnak-vnNFWKY7Tj4-unsplash.jpg");
    background-size: cover;
}

/* .container-bg{
    background-image: url("../Components/images/jakub-kapusnak-vnNFWKY7Tj4-unsplash.jpg")
} */

