.text-style {
    color: white;
    text-align: center;
    margin: 5%;
}

.title-style {
    color: white;
    text-align: center;
    margin: 10%;
    margin-top: -50px;
}

.outer-fridge {
    width: 50%;
    height: auto;
    display: inline-block;
    text-align: center;
    margin: 5%;
    padding: 2%;
    position: absolute; left: 20%;
}

.button {
    color: white;
    background-color: green;
    margin: 2%;
    width: 25%;
    display: inline-block;
}

.foodImage{
    border-radius: 100px;
}

.expired {
    border: 5px solid red;
    height: 150px;
    width: 150px;
    /* opacity: 0.80; */
    background: black;
    border-radius: 50%;


}

.warning {
    border: 5px solid orange;
    height: 150px;
    width: 150px;
    /* opacity: 0.85; */
    border-radius: 50%;
}

.fresh{
    border: 5px solid green;
    height: 150px;
    width: 150px;
    border-radius: 50%;


}
/* .fridgePicture{
 margin-top: -50px;
    height: 500px;
    width: 400px;
    position: relative;
    z-index: 10;
} */