.text-style {
    color: white;
    text-align: center;
    margin: 5%;
}

.title-style {
    color: white;
    text-align: center;
    margin: 10%;
}

.outer-fridge {
    width: 50%;
    height: auto;
    display: inline-block;
    text-align: center;
    margin: 5%;
    padding: 2%;
    position: absolute; left: 20%;
}

.button {
    color: white;
    background-color: green;
    margin: 2%;
    width: 25%;
    display: inline-block;
}

.foodImage{
    border-radius: 100px;
}

.expired {
    border: 2px solid red;
    height: 100px;
    width: 100px;
}

.warning {
    border: 2px solid orange;
    height: 100px;
    width: 100px;
}
.fresh{
    border: 2px solid green;
    height: 100px;
    width: 100px;
}